/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@700&display=swap');
*{
    box-sizing: border-box;
    font-family: Roboto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
    font-weight: 500;
    font-size: 24px;
    color: #A9031D;
    text-decoration: none;
}
img.rounded{
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
}
body{
    display: block;
    background-color: #FFD571;
}
a{
    text-decoration: none;
}


#logo{
    font: Ubuntu;
    font-weight: 700;
    font-size: 30px;
    
}
#this_page{
    text-decoration: line-through;
}
#a_nav{
    color: #A9031D;
}



.nav_links li{
    display: inline;
   margin-right: 0.3rem;
    
}

.nav_links{
    list-style: none;
    float: right;
}

#a_nav:hover{
    color: #222098;
}

h2{
    font-weight:500;
    color: #222098;
}

.card .btn{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}



.row{
    align-content: center;
    display: flex;
    height: 350px;
}

.card-deck{
    flex-direction: row;
    flex-wrap: wrap;
    
}
.row-form{
    align-content: center;
    display: flex;
    margin-bottom: 1rem;
}
.card-deck .card{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    margin: 0 15px 0 15px;
    background-color: #FB9E2E;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.4);
}

article{
    font-weight: 300;
    font-size: 36;
    color: #E8724A;
}

.card-project{
    background-color: #FB9E2E;
}

.page-footer {
    width: 100%;
    background-color: #222098;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    bottom: 0;
    position: fixed;
    
  }
  #row-footer{
      height: 3rem;
      display: flex;
      position: relative;
      bottom: 0;
  }

  .fa{
      text-decoration: none;
        color: #FB9E2E;
  }
  
  .nav{
    justify-content: flex-end; 
    align-items: center;
     color: #FB9E2E;
  }

  div.profile-wrap{
      word-wrap: break-word;
      background-color: #FB9E2E;
      
  }
  #home{
    height: 450px;
    background-size: cover;
    background-color: #FB9E2E;
    margin-bottom: 2rem;
  }
  #page23{
    height: 540px;
    background-size: contain;
    background-color: #FB9E2E;
    justify-content: center;
    align-items: center;
    
  }

  a:hover{
      color: #FB9E2E;
      text-decoration: none;
      
  }
  




