{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block content %}
  {% endblock content %}
  <!-- Footer -->
<footer class="page-footer" style="bottom: 0em;">
  <!-- Footer Elements -->
  <div class="container" style="display: inline;">
    <!-- Grid row-->
    <div class="row-footer justify-content-center align-items-center">
      <!-- Grid column -->
      <div class="col-5">
      </div>
      <!-- Footer Elements -->
      <nav>
        <ul class="nav">
          <li><h4 style="margin-right: 2rem;"><a href="ContactMe.html">Contact me</a></h4></li>
            <li><a href="https://dribbble.com/"><i class="fab fa-dribbble fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a></li>
        </ul>  
      </nav>
      <!-- Grid column -->
      
    </div>
     <!-- Copyright -->
    <article style="color: #FB9E2E;">© 2020 Copyright:<a href='/index'>Muadz</a></article>
  </div>
</footer>
<!-- Footer -->

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
  
</html>
