{% extends 'base.html' %}
{% load static %}
    {% block meta %} 
    <title>Contact Me</title>
    {% endblock meta %}

    {% block content %}
    <header>
      <!-- Navbar -->
        <!-- Logo -->
        <a href='/' id="logo">PEWE</a>
        <!-- Logo -->
        <nav>
            <ul class="nav_links">
                <li><a id=a_nav href='/'>Portfolio</a></li>
                <li><a id=a_nav href='/profile'>About Me</a></li>
                <li><a id=a_nav href='/contactMe'>Contact Me</a></li>
            </ul>
        </nav>
      <!-- Navbar -->
    </header>
    <h2 style="text-align: center; margin-bottom: 2rem;">Mata Kuliah</h2>
    
    
    
                
            
            
            <h2 style="text-align: center; margin-bottom: 2rem;"> Mata Kuliah anda</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Mata Kuliah</th>
                    <th scope="col">Dosen Pengajar</th>
                    <th scope="col">sks</th>
                    <th scope="col">Ruang Kelas</th>
                    <th scope="col">Semester tahun</th>
                    <th scope="col">Deskripsi</th>
                  </tr>
                </thead>
                <tbody>
                    {% for x in data%}
                  <tr>
                        <td>{{ x.nama_matakuliah}}</td>
                        <td>{{ x.dosen}}</td>
                        <td>{{ x.sks}}</td>
                        <td>{{ x.semester_tahun}}</td>
                        <td>{{ x.ruang_kelas}}</td>
                        <td>{{ x.deskripsi }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
        
      
  
    <!--Mata Kuliah form-->
    {% endblock content %}