{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cari Buku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock meta %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Story</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="buku.html">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input  class="form-control mr-sm-2" id="cari" placeholder="Cari Rekomendasi Buku" aria-label="Search">
        </form>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="/admin/logout/?next=/buku" role="button"><span class='glyphicon glyphicon-log-in'></span>Logout</a>
        {% else %}
        <a class="btn btn-primary" href="/admin/login/?next=/buku" role="button"><span class='glyphicon glyphicon-log-in'></span>Login</a>
        {% endif %}
        </div>
    </nav>
    {% if not request.user.is_authenticated %}
    <h2 style="text-align: center;">Halo, Berikut Rekomendasi Buku</h2>
    <h6 style="text-align: center;">Lakukan Search untuk Kategori yang anda inginkan</h6>
    <p style="text-align: center;">Untuk mendapatkan gambar lakukan login terlebih dahulu</p>
    {% else %}
    <h2 style="text-align: center;">Halo {{user.get_username}}, Berikut Rekomendasi Buku</h2>
    <h6 style="text-align: center;">Lakukan Search untuk Kategori yang anda inginkan</h6>
    
    {% endif %}
    <table style="width:100%" id="daftar_buku">
    </table>
    
    <script type="text/javascript">
        $("#cari").keyup(function(){
            var input = $("#cari").val();
            console.log(input);
            $.ajax({
                url: '/data?q=' + input,
                success: function(data){
                    var array_items = data.items;
                    
                    $("#daftar_buku").empty();
                    for(i=0;i<array_items.length;i++){
                        judul_buku = array_items[i].volumeInfo.title;
                        gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                        console.log(array_items);
                        $("#daftar_buku").append(
                            "<tr><th>"+judul_buku+"</th><th><img src="+gambar+"></th></tr>"
                            )
                    }
                }

            })
        });
    </script>
{% endblock content %}