{% extends 'base.html' %}
{% load static %}
    {% block meta %} 
    <title>Contact Me</title>
    {% endblock meta %}

    {% block content %}
    <header>
      <!-- Navbar -->
        <!-- Logo -->
        <a href='/' id="logo">PEWE</a>
        <!-- Logo -->
        <nav>
            <ul class="nav_links">
                <li><a id=a_nav href='/'>Portfolio</a></li>
                <li><a id=a_nav href='/profile'>About Me</a></li>
                <li id="this_page">Contact Me</li>
            </ul>
        </nav>
      <!-- Navbar -->
    </header>
    
    <h2 style="text-align: center; margin-bottom: 2rem;">Contact Me</h2>
    <!--Contact me form-->
    
      {% csrf_token %}
    <div class="row-form justify-content-center align-items-center">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form">
              <!--Grid row-->
              <div class="row-form">
                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label>Your name</label>
                        <input type="text" name="name" class="form-control" class="text">
                      </div>
                  </div>
                  <!--Grid column-->
                  
                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label>Your email</label>
                        <input type="email" name="email" class="form-control" class="text">
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row-form">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                        <label>Subject</label>
                        <input type="text" name="subject" class="form-control" class="text">
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row-form">
                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                        <label for="message">Your message</label>  
                        <textarea type="text" name="message" class="form-control md-textarea" class="text"></textarea> 
                      </div>

                  </div>
              </div>
              <!--Grid row-->
          
          <div class="text-center text-md-left">
              <a class="btn btn-primary" style="margin-left: 1rem;margin-top: 1rem;margin: 2rem 0 7rem 1rem;" type="submit">Send</a>
          </div>
        
          
      </div>
    </div>
  
    <!--Contact me form-->
    {% endblock content %}