{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    <title>Muadz</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      
    </script>
    {% endblock meta %}
    
    {% block content %}
  
    
    <div class="row justify-content-center align-items-center"  id="home">
        <div class="col-4" style="color: #222098;" >
            <img src="{% static 'img/foto.jpg' %}" alt="foto saya" class="foto" width="300" height="400" >
            
           
        </div>
        <div class="col-4">
            <h1>Hai,Nama saya Muadz</h1>
            <article>NPM   : 1906398774</article>
            <article>Hobi  : Olahraga</article>
            <h3>Tentang saya</h3>
            <P>Saya adalah mahasiswa fasilkom angkatan 2019(maung). Jurusan saya adalah ilmu komputer.</P>
            <p>Kesibukan saya selama kuliah cuma belajar,sedikit organisasi sama nonton film</p>
            <a href="https://www.linkedin.com/" class="btn btn-primary" style="margin-top:2rem;display: block; width: 10rem;">Hubungi saya</a>
        </div>
      </div>
      
      <div class="row justify-content-center align-items-center" >
        <div class="col-8" style="color: #222098;" >
            <h2>Riwayat Pendidikan</h2>
                <ul>
                    <li>SMAN 8 Jakarta</li>
                    <li>SMPI Al-azhar 12 Rawamagun</li>
                    <li>SDI Al-azhar 13 Rawamangun</li>
                </ul>
                <a href='/matakuliah'>Aktivitas Kuliah</a>   
           
        </div>
    </div>
    <div class="row justify-content-center align-items-center" >
      <div id="accordion" class="col-8">
        <div class="group1">
        <h3 class="accordion">Aktivitas saat ini<button style="float:right" id="t12">turun</button><button style="float:right" id="n13">naik</button></h3>
        <div class="panel">
          <p>
          Kuliah - nugas - kuliah nugas
          </p>
        </div>
        </div>
        <div class="group2">
        <h3 class="accordion">Pengalaman organisasi/kepanitiaan<button style="float:right" id="t23">turun</button><button style="float:right" id="n21">naik</button></h3>
        <div class="panel">
          <p>
          Organisasi BEM,SISTEM,RISTEK
          </p>
        </div>
        </div>
        <div class="group3">
        <h3 class="accordion">Prestasi<button style="float:right" id="t31">turun</button><button style="float:right" id="n32">naik</button></h3>
        <div class="panel">
          <p>
          Untuk dapat mendapatkan prestasi diperlukan pejuangan besar. Prestasi saya adalah juara lomba a,lomba b,lomba c 
          </p>
        </div>
        </div>
      </div>
    </div>
    
    <style>
    body{
        background-color: #FB9E2E;;
    }
    .foto{
        vertical-align:middle;
    }
    .coloumn{
        float : left;
        width : 48px;
    }

    .row::after{
        content: "";
        clear: both;
        display: table;
    }
    article{
        color:blue;
    }
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc; 
    }
    button {
      background-color: blue; 
    }

    .panel {
      padding: 2px 25px;
      display: none;
      background-color: wheat;
      overflow: hidden;
      margin-bottom: 5px;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
          $( "#accordion" )
          var acc = document.getElementsByClassName("accordion");
          var i;

          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.display === "block") {
                panel.style.display = "none";
              } else {
                panel.style.display = "block";
              }
           
          });
          }
        
        
          $("#t12").click(function(){
              var x =$(".group1").next()
              $(".group1").before(x)
          });
          $("#t23").click(function(){
              var x =$(".group2").next()
              $(".group2").before(x)
          });
          $("#t31").click(function(){
              var x =$(".group3").next()
              $(".group3").before(x)
          });
          $("#n21").click(function(){
              var x =$(".group2").prev()
              $(".group2").after(x)
          });
          $("#n32").click(function(){
              var x =$(".group3").prev()
              $(".group3").after(x)
          });
          $("#n13").click(function(){
              var x =$(".group1").prev()
              $(".group1").after(x)
          });

    </script>
    {% endblock content %}
