{% extends 'base.html' %}
{% load static %}
    {% block meta %} 
    <title>Kegiatan</title>
    {% endblock meta %}

    {% block content %}
    <header>
      <!-- Navbar -->
        <!-- Logo -->
        <a href='/' id="logo">PEWE</a>
        <!-- Logo -->
        <nav>
            <ul class="nav_links">
                <li><a id=a_nav href='/'>Portfolio</a></li>
                <li><a id=a_nav href='/matakuliah'>Kuliah</a></li>
                <li><a id=a_nav href='/kegiatan'>Kegiatan</a></li>
            </ul>
        </nav>
      <!-- Navbar -->
    </header>
    <form action="" method="Post">
        {% csrf_token %}
        {{ kegiatan_form }}
        <input type="submit" value="Tambah Kegiatan">
    </form>
        <div class="row-3">
        <div class="col-sm-2">
            <div class="card">
                {% for x in data_kegiatan %}
            <div class="card-body">
                <h5 class="card-title">{{ x.nama_kegiatan }}</h5>
                <a type="submit" href={%url 'main:deletekegiatan' x.id%}>Hapus kegiatan</a>
                <ul>
                {% for y in data_anggota%}
                    <li>{{ y.anggota_kegiatan }}</li>
                {% endfor %}
                </ul>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ anggota_form }}
                    <input type="submit" value="Tambah Anggota">
                </form>
            </div>
                {% endfor %}
            </div>
        </div>
        </div>
    {% endblock content %}