{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>My Portfolio</title>
    {% endblock meta %}

    {% block content %}
    <header id="h_page1">
       
        <a href='/' id="logo">PEWE</a>
        <nav>
            <ul class="nav_links">
                <li id="this_page">Portfolio</li>
                <li><a id=a_nav href='/profile'>About Me</a></li>
                <li><a id=a_nav href='/contactMe'>Contact Me</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="row justify-content-center align-items-center"  id="home">
      <div class="col-4" style="color: #222098;" >
          <h3 >Hello</h3>
          <h2 >I'M PEWE</h2>
          <h3 >Web Programming</h3>
          <article style="color: #222098; " >HTML,CSS,JS,Djago</h4>
          
          <a href="https://www.linkedin.com/" class="btn btn-primary" style="margin-top:2rem;display: block; width: 100px;">Hire Me</a>
      </div>
      <div class="col-4">
          <img src="{% static 'img/pewe1.jpg' %}" class="rounded" alt="Kak Pewe" style="height: 300px;width: 400px" srcset="">
      </div>
    </div>
    
    <div class="container" >
        <h2 style="text-align: center;margin-bottom: 2rem;">MY PROJECT</h2>
        <div class="card-deck mb-3  text-center ">
            <div class="card card-project mb-4 box-shadow" >
                <img src="{% static 'img/amazon.png' %}" class="card-img-top" alt="Amazon" style="height: 225px; width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">REDESIGN AMAZON</h5>
                  <a href="https://github.com/" class="btn btn-primary"><i class="fab fa-github"> See Code</i></a>
                </div>
            </div>
            <div class="card card-project mb-4 box-shadow" >
                <img src="{% static 'img/healthcare_app.jpg' %}" class="card-img-top" alt="Healthcare App" style="height: 225px; width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">CUSTOMIZED HEALTHCARE APP</h5>
                  <a href="https://github.com/" class="btn btn-primary"><i class="fab fa-github"> See Code</i></a>
                </div>
            </div>
        
            <div class="card card-project mb-4 box-shadow">
                <img src="img/seo.png" class="card-img-top" alt="SEO" style="height: 225px; width: 100%;" >
                <div class="card-body">
                  <h5 class="card-title">SEO OPTIMIZATION</h5>
                  <a href="https://github.com/" class="btn btn-primary"><i class="fab fa-github"> See Code</i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div style="background-color: #FB9E2E;">
    <h2 style="text-align: center;">ORGANIZATION</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" >
            <a href="https://bem.cs.ui.ac.id/"><h2 style="color: #E8724A;">BEM FASILKOM</h2></a>
            <article>HEAD OF ACADEMIC AND</article>
            <article>LEADERSHIP DEPARTMENT AT</article>
            <article>BEM FASILKOM UI</article>
        </div>
        <div class="col-4"> 
            <a href="https://bem.cs.ui.ac.id/"><img src="{% static 'img/bem-fasilkom.png' %}"  alt="Bem Fasilkom" style="height: 300px;width: 300px" srcset=""></a>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <a href="https://ristek.cs.ui.ac.id/"><img src="{% static 'img/ristek.png' %}" class="rounded" alt="Ristek Fasilkom" style="height: 250px;width: 250px" srcset=""></a>
        </div>
        <div class="col-4">
          <a href="https://ristek.cs.ui.ac.id/"><h2 style="color: #E8724A;">RISTEK FASILKOM</h2></a>
            <article>SENIOR MEMBER OF WEB</article>
            <article>DEVELOPMENT AT RISTEK</article>
            <article>FASILKOM UI</article>
        </div>
    </div>
    </div>


    <h2 style="text-align: center;">HOBBY</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" >
            <h2 style="color: #E8724A;">SPORT</h2>
            <article>HEAD OF ACADEMIC AND</article>
            <article>LEADERSHIP DEPARTMENT AT</article>
            <article>BEM FASILKOM UI</article>
        </div>
        <div class="col-4">
            <img src="{% static 'img/Training at home-bro.png' %}" alt="Training at home" style="height: 300px;width: 300px" srcset="">
        </div>
    </div>
    
    {% endblock content %}