{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>Profile</title>
    {% endblock meta %}


  {% block content %}
    <header>
       
        <a href='/' id="logo">PEWE</a>
        <nav>
            <ul class="nav_links">
                <li><a id=a_nav href='/'>Portfolio</a></li>
                <li id="this_page">About Me</a></li>
                <li><a id=a_nav href='/contactMe'>Contact Me</a></li>
            </ul>
        </nav>
        
        
    </header>
    <div class=profile-wrap" id="page23">
        <div class="row justify-content-center align-items-center" style="height: 540px;">
            <div class="col-3"  >
              <article style="color: #222098"><b>HELLO</b></article>
                <h2>I Am PEWE</h2>
                <article style="color: #222098"><b>WEB PROGRAMMING</b></article>
                <article style="color: #222098">I'm active web programming,energic,</article>
                <article style="color: #222098">cheerful and of course an expert in coding</article>
                <article style="margin-top: 2rem;color: #222098">campus ID  1702323424</article>
                <article style="color: #222098">Start Year: 2017</article>
                <article style="color: #222098">Faculty of computer science</article>
                <article style="color: #222098">Universitas Indonesia</article>
            </div>
            <div class="col-3">
                <img src="{% static 'img/pewe2.jpg' %}" class="rounded" alt="Kak Pewe" style="height: 300px;width: 350px" srcset="">
            </div>
        </div>
    </div>
  {% endblock content %}
